email-validator>=2.0.0
fastapi
google-genai
pgvector
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]>=2.0.0
pypdf
pypdf2
python-dotenv
python-multipart
python-multipart
sqlalchemy>=2.0.0
supabase
uvicorn[standard]
